/* #map {
width: 850px; 
height: 550px;
margin: 0 auto;
margin-top: 150px;
border: 2px solid rgb(117, 111, 225);
} */
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #main-header {
	background: rgb(117, 111, 225);
	color: white;
    height: 80px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	

.site-name {
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 

}