#splash {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  background-color:rgb(117, 111, 225);;
	z-index: 99;
}

#splash .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgb(255, 255, 255); 
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 32px; 
  margin: 0 0 72px; 
  text-align: center;
}

